.nav-cstm {
	padding-top: 10px; 
}

.nav-cstm a {
	margin-right: 15px;
	font-size: 12px;
	text-decoration: underline;
}

.nav-hr {
	border:none;
	height: 2px;
	color: black;
	background-color: black;
}

.table-head {
	background-color: #333;
	text-align: left;
	color:white;
}
